.form-control {
  @apply shadow appearance-none rounded py-1 px-2 leading-normal;
}
.form-control:focus {
  @apply outline-none shadow-outline;
}
/*
w-full
block
focus:outline-none
focus:shadow-outline
*/
